body {
    background-image: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg');
    color: #eeeeee;
    overflow: hidden;
}

li {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
}

.thumb img {
    border: none;
    background-color: #444444;
    position: relative;
}

.selected img{
    padding: 5px;
    border: solid #eeeeaa 5px;
    transform: translateY(15%);
}

.hidden {
    display: none;
}

.title {
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: -0.25em;
    left: 46%;
    width: inherit;
}

#tray {
    display: inline-block;
    background-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20% auto 0;
    overflow: visible;
}

#slider {
    display: inline-block;
    position: relative;
    padding: 0;

}